<p id="notice"><%= notice %></p>

<h1>Zoo database</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Species</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zoos.each do |zoo| %>
      <tr>
        <td><%= zoo.species %></td>
        <td><%= zoo.name %></td>
        <td><%= link_to 'Show', zoo, class: "btn btn-primary outline" %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_zoo_path(zoo), class: "btn btn-warning outline" %></td>
          <td><%= link_to 'Destroy', zoo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger outline" %></td>
        <% else  %>
        	
        <% end %>
        
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
  <%= link_to 'New Specie', new_zoo_path, class: "btn btn-success outline" %>
<% else  %>
	
<% end %>

